* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

h3 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    height: 60vh;
    padding: 0;
    margin: 30px 0px 15px 0px;
}

.calculator {
    display: flex;
    width: 30vw;
    border: 5px solid #000000;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.container input {
    width: 25vw;
    height: 9vh;
    font-size: 2rem;
    text-align: right;
    padding-right: 10px;
    border: 3px solid #000000;
    outline: none;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: default;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

.container button {
    width: 4vw;
    height: 7vh;
    font-size: 1.8rem;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color: #3498db;
    color: #fff;
}

.container button.backspace:hover {
    background-color: #ff0011;
    color: #fff;
}

.container button.operator:hover {
    background-color: #e78c3c;
    color: #fff;
}

.container button.calculate:hover {
    background-color: #ffa500;
    color: #fff;
}

.row1 button:first-child {
    width: 9vw;
}

.row5 button:last-child {
    width: 9vw;
}

.converters{
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



@media (max-width: 600px) {
    h1 {
        font-size: 10vw;
    }

    .nav-elements {
        display: none;
    }

    .container {
        height: 50vh;
        width: 100vw;
    }

    .calculator {
        width: 90vw;
    }

    .container input {
        width: 74vw;
        height: 7vh;
        font-size: 5vw;
    }

    .container button {
        width: 12vw;
        height: 10vw;
        font-size: 4vw;
    }

    .row1 button:first-child {
        width: 27vw;
    }

    .row5 button:last-child {
        width: 27vw;
    }

    .converters{
        display: flex;
        flex-wrap: wrap;
    }
}