body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #d2cdcd;
    padding: 20px;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 40px;
}


.navbar-nav {
    display: flex;
    margin: 0;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form input:active {
    zoom: 1.2;
}


h1 {
    text-align: center;
    margin: 0px auto;
    padding: 20px;
}

#marksCalc {
    padding: 30px;
    border-radius: 5px;
    max-width: 500px;
    border: 2px solid black;
    margin: 0 auto;
}

#marksCalc section {
    margin-bottom: 20px;
}

#marksCalc label {
    display: block;
    color: #333;
}

#marksCalc input[type="number"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

/* Style the submit button */
#marksCalc button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#marksCalc button[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    border: 2px solid black;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
}

thead th {
    background-color: #b4b1b1;
    text-align: left;
    padding: 10px;
}

tbody td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: #f0eaea;
}

tbody td:nth-child(1) {
    background-color: #b4b1b1;
}

.printBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px auto;
    display: block;
    width: 100px;
    text-align: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
}

@media (max-width: 768px) {
    body {
        zoom: 60%;
    }

    .zoomed {
        zoom: 150%;
        /* Adjust the scale value as needed */
    }

    #marksCalc {
        margin-left: 20px;
    }

    nav {
        width: 700px;
    }

    nav ul li {
        margin-left: 20px;
    }

    table {
        width: max-content;
        padding: 0px;
        overflow-x: auto;
        font-size: xx-small;
        margin-left: 20px;
        margin-right: 0;
    }

    .printBtn {
        margin: 10px auto;
    }
}

@media print {
    #marksCalc section {
        display: none;
    }


    /* Additional styles for table */
    table {
        margin: 20px auto;
        border-collapse: collapse;
        width: 100%;
    }

    tbody td {
        border-bottom: 1px solid #ddd;
        padding: 10px;
        min-height: 40px;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
        font-size: 15px;
    }

    thead th {
        background-color: #f2f2f2;
        color: #333;
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    #result {
        margin-top: 20px;
    }
}